<footer class="footer">
  <div class="container">
    <div class="row g-2 py-4">
      <div class="col-md-3 wow fadeInUp">
        <div class="logo d-flex align-items-center gap-1">
          <img loading="lazy" src="assets/image/logos/logo-icon.png" class="logo-img" [alt]="'footer.info.name' | translate">
          <div class="mt-3">
            <h5 class="m-0">AHTech</h5>
            <span>Tech Ahead</span>
          </div>
        </div>

        <p class="my-3">{{'footer.info.description' | translate}}</p>

        <div class="footer-icons d-flex justify-content-start align-items-center gap-2">
          <div class="cr icon">
            <a href="https://www.instagram.com/ahtech010/?utm_source=ig_web_button_share_sheet" target="_blank">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </div>

          <div class="cr icon">
            <a href="https://www.facebook.com/share/1AFhp1rtQW/" target="_blank">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </div>

          <div class="cr icon">
            <a class="text-white"
              href="https://wa.me/+201110038252?text=مرحبًا%20AHTech!%20أريد%20الاستفسار%20عن%20خدماتكم"
              target="_blank">
              <i class="fa-brands fa-whatsapp"></i>
            </a>
          </div>

          <div class="cr icon">
            <a class="text-white"
              href="tel:+0201110038252"
              target="_blank" dir="ltr">
              <i class="fa-solid fa-phone"></i>
            </a>
          </div>

          <!-- <div class="cr">
            <i class="fa-brands fa-whatsapp"></i>
            <svg width="35" height="35" viewBox="0 0 44 43" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M43.7222 21.1969C43.7222 9.49017 34.117 0 22.2683 0C10.4197 0 0.814453 9.49017 0.814453 21.1969C0.814453 32.9036 10.4197 42.3938 22.2683 42.3938C34.117 42.3938 43.7222 32.9036 43.7222 21.1969Z" fill="#128695"/>
              <path d="M24.7288 19.16L34.372 8.86731H32.0401L23.6879 17.7852L16.9353 8.86731H9.00311L19.2982 22.4688L8.93555 33.5282H11.2674L20.339 23.8453L27.6705 33.5282H35.6027L24.7269 19.1618L24.7288 19.16ZM12.4305 10.5596H16.0753L32.1734 31.8287H28.5287L12.4305 10.5596Z" fill="white"/>
            </svg>
          </div>

          <div class="cr">
            <svg width="35" height="35" viewBox="0 0 44 43" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M43.6324 21.1969C43.6324 9.49018 34.0271 0 22.1785 0C10.3298 0 0.724609 9.49018 0.724609 21.1969C0.724609 32.9036 10.3298 42.3938 22.1785 42.3938C34.0271 42.3938 43.6324 32.9036 43.6324 21.1969Z" fill="#128695"/>
              <path d="M10.8539 17.318H15.7093V32.7489H10.8539V17.318ZM13.2807 9.64679C14.8328 9.64679 16.0928 10.8935 16.0928 12.4288C16.0928 13.9641 14.831 15.2072 13.2807 15.2072C11.7304 15.2072 10.4668 13.9641 10.4668 12.4288C10.4668 10.8935 11.7249 9.64679 13.2807 9.64679Z" fill="white"/>
              <path d="M18.752 17.3179H23.4083V19.4288H23.4759C24.1241 18.2146 25.7073 16.9373 28.0683 16.9373C32.9839 16.9373 33.8915 20.1324 33.8915 24.2855V32.7488H29.0397V25.2453C29.0397 23.4556 29.0087 21.1535 26.5162 21.1535C24.0237 21.1535 23.6055 23.1056 23.6055 25.1172V32.7488H18.7538V17.3179H18.752Z" fill="white"/>
            </svg>
          </div>

          <div class="cr">
            <svg width="35" height="35" viewBox="0 0 44 43" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M43.5386 21.1969C43.5386 9.49017 33.9334 0 22.0847 0C10.2361 0 0.630859 9.49017 0.630859 21.1969C0.630859 32.9036 10.2361 42.3938 22.0847 42.3938C33.9334 42.3938 43.5386 32.9036 43.5386 21.1969Z" fill="#128695"/>
              <path d="M31.8322 11.2056H12.7284C9.07635 11.2056 7.5918 14.1301 7.5918 17.7402V24.6519C7.5918 28.262 9.23157 31.1883 12.8836 31.1883H31.677C35.329 31.1883 36.578 28.262 36.578 24.6519V17.7402C36.578 14.1301 35.4842 11.2056 31.8304 11.2056H31.8322ZM19.4226 25.1155V17.2783L27.0225 21.1969L19.4226 25.1155Z" fill="white"/>
            </svg>
          </div> -->
        </div>
      </div>

      <div class="col-md-3 wow fadeInUp">
        <h5 class="text-white">{{'footer.services.title' | translate}}</h5>
        <ul class="footer-services px-0 list-unstyled d-flex flex-column justify-content-start align-items-start gap-1">
          <li>- {{'footer.services.list.Website' | translate}}</li>
          <li>- {{'footer.services.list.ECommerce' | translate}}</li>
          <li>- {{'footer.services.list.MobileApp' | translate}}</li>
          <li>- {{'footer.services.list.Branding' | translate}}</li>
          <li>- {{'footer.services.list.Graphic' | translate}}</li>
          <li>- {{'footer.services.list.Professional' | translate}}</li>
          <!-- <li>- {{'footer.services.list.Motion' | translate}}</li> -->
          <li>- {{'footer.services.list.Digital' | translate}}</li>
          <li>- {{'footer.services.list.SEO' | translate}}</li>
          <!-- <li>- {{'footer.services.list.Technical' | translate}}</li> -->
        </ul>
      </div>

      <div class="col-md-3 wow fadeInUp">
        <h5 class="text-white">{{'footer.Links.title' | translate}}</h5>
        <ul class="footer-links px-0 list-unstyled d-flex flex-column justify-content-start align-items-start gap-1">
          @for ( section of sections; track $index) {
            <li>
              <a
              class="link-item cr"
              (click)="scrollToSection(section.id)">
                - {{ section.name | translate }}
              </a>
            </li>
          }
        </ul>
      </div>

      <div class="col-md-3 wow fadeInUp">
        <div class="footer-contact">
          <h5 class="text-white">{{'footer.services.title' | translate}}</h5>
          <ul class="list-unstyled px-0 d-flex flex-column justify-content-start align-items-start gap-2">
            <li class="cr">
              <a class="text-white"
                href="tel:+0201110038252"
                target="_blank" dir="ltr">
                +201110038252 <i class="fa-solid fa-phone"></i>
              </a>
            </li>

            <li>
              <a class="text-white"
                href="https://wa.me/+201110038252?text=مرحبًا%20AHTech!%20أريد%20الاستفسار%20عن%20خدماتكم"
                target="_blank" dir="ltr">
                +2011111258906 <i class="fa-brands fa-whatsapp"></i>
              </a>
            </li>

            <li class="cr">
              <a href="mailto:anfahmy92@gmail.com" target="_blank">
                <i class="fa-solid fa-envelope"></i>
                anfahmy92{{'@'}}gmail.com
              </a>
            </li>

            <li>
              <a href="https://maps.app.goo.gl/fNS9MDe6ihskntxu7" target="_blank">
                <i class="fa-solid fa-location-dot fs-4 ms-1"></i>
                {{'footer.contact.address' | translate}}
              </a>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right text-center p-2">
    <p class="m-0">AHTech Team &copy; 2025</p>
  </div>
</footer>
